.box_1 {
    width: 100%;
    display: grid;
    height:850px;
    border: 10px solid black;
    background-color: rgb(211, 146, 48);

}

p {
    color: red;
    text-align: center;   
    font-size: 75px; 
}

iframe {
    align-items: center;
}
